<!-- <mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        <login-header (toggleSidebarForMe)="sideBarToggler()"></login-header>
        <div class="container-fluid-page">
            <div class="page_box pd-3 mt-2">
                Home
            </div>
            <div class="page_content shadow p-3 position-relative">
                <div class="page_content-data position-relative text-center">
                    Home Content here
                </div>
                <div>
                    <button (click)="logout()">Logout</button>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container> -->

<div class="container-fluid-page">
    <div class="page_box pd-3 mt-2">
        Home
    </div>
    <div class="page_content shadow p-3 position-relative">
        <div class="page_content-data position-relative text-center">
            Home Content here
            <!-- <input id="howmany" onChange() type="number"/>
            <div id="boxquantity"></div>         -->
        </div>
        <!-- <div>
            <button (click)="logout()">Logout</button>
        </div> -->
    </div>
</div>
