<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-nav-list>
    <div class="logo py-4">
        <img src="" alt="Company Logo">
    </div>
    <mat-divider></mat-divider>
    <p class="subheader" matsubheader class="mt-2">Apps</p>
    <!-- <a class="list" mat-list-item routerLink="/welcome" routerLinkActive="list-item-active"> <mat-icon>home</mat-icon> Home </a> -->
    <a class="list" mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active"> <mat-icon>dashboard</mat-icon> Dashboard </a>
    <a class="list" mat-list-item routerLink="/energyjson" routerLinkActive="list-item-active"> <mat-icon>current</mat-icon> Energy Data </a>
    <a class="list" mat-list-item routerLink="/meterjson" routerLinkActive="list-item-active"> <mat-icon>meter</mat-icon> Meter Data </a>
    <a class="profile" mat-list-item routerLink="/register" routerLinkActive="list-item-active"> <mat-icon>Profile</mat-icon>Profile</a>
    <a class="list" mat-list-item routerLinkActive="list-item-active"><mat-icon>edit</mat-icon>Link 4</a>
    <a class="list" mat-list-item><mat-icon>edit</mat-icon>Link 5</a>
</mat-nav-list>