<!-- <p>bodyheader works!</p> -->
<!-- <div>
    <h1>
        Welcome to the Energy Monitoring WebSite
    </h1>
</div>
<div>
    <p>
        Here you can monitor your energy consumption and usage in real time using our web application.
        You will be able to see how much electricity is being used by each appliance or device.
        We also provide a feature that allows users to set alarms for when their devices are consuming too.
        This way they'll know if there's any problem with them and take action accordingly.
    </p>
    <br>
    <p>
        To get started click on "Login/Register".       
    </p>
    <br>
    <p>
        Click here to <a href="login">Login</a>
    </p>
    <br>
    <p>
        If this is your first visit please <a href="register">register</a> as we need some information from you before allowing access to all features of the website.  
    </p>
</div> -->

<div class="container-fluid-page">
    <div class="page_box pd-3 mt-2">
        Welcome to the Energy Monitoring WebSite
    </div>
    <div class="page_content shadow p-3 position-relative">
        <div class="page_content-data position-relative text-center">
            <p>
                Here you can monitor your energy consumption and usage in real time using our web application.
                You will be able to see how much electricity is being used by each appliance or device.
                We also provide a feature that allows users to set alarms for when their devices are consuming too.
                This way they'll know if there's any problem with them and take action accordingly.
            </p>
            <br>
            <p>
                To get started click on "Login/Register".       
            </p>
            <br>
            <p>
                Click here to <a href="login">Login</a>
            </p>
            <br>
            <p>
                If this is your first visit please <a href="register">register</a> as we need some information from you before allowing access to all features of the website.  
            </p>
        </div>
    </div>
</div>
